@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
footer{
    background-color: #7a2121;
    padding: 30px 100px;
    width: 100%;
}
.footer_content{
    padding: 30px;
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(227, 224, 224);
}
.footer_logo h1{
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 60px;
    font-style: normal;
    font-family: "Dancing Script", cursive;
    color: rgb(227, 224, 224);
}
.main_info p{
    display: flex;
    gap: 20px;
    color: rgb(227, 224, 224);
    font-family: "poppins", sans-serif;
}
.main_info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.soc_media{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.soc_media a{
    color: rgb(227, 224, 224);
    font-size: 20px;  
    text-decoration: none;
}
.footer_tags{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.tags{
    display: flex;
    gap: 50px;
}
.tags a{
    color: rgb(227, 224, 224);
    text-decoration: none;
}